/* common.css */

* {
  box-sizing: border-box;
}
body {
  background: #fafafa;
  margin: 0;
  font: 17px/1.7 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
  color: #555;
}

img {
  border: none;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}






.header {
  background: #1b39ab;
  height: 70px;
}

.wrapper {
  width: 960px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  margin: 10px auto;
  padding: 30px;
}

/* blog post */

.post-title {
  font-weight: normal;
  color: #eb3170;
  text-align: center;
  margin: 10px 0;
}

.post-img {
  max-width: 100%;
  display: block;
  margin: 30px auto;
}
