/* common.css */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font: 15px/1.7 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
  color: #555;
}

img {
  border: none;
}

.container {
  width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/* welome.css */

.banner-page {
  background: url("./images/peter-banner.jpg");
  height: 450px;
  background-size: cover;
  background-position: 50% 50%;
  margin-top: -50px;
}

.tagline {
  margin-top: 350px;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: normal;
}

.post-list-wrapper {
  padding: 70px 0;
  background: #ebeced;
}
.post {
  float: left;
  background: #fff;
  width: 300px;
  height: 320px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 1px rgba(0,0,0,.08);

  /* 专门为 date 设置的 relative */
  position: relative;
}

.post .thumbnail-image {
  display: block;
  position: relative;
}

.post .thumbnail-image:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0;
  transition: opacity 1s;
}

.post .thumbnail-image:hover:before {
  opacity: 0.6;
}


.post .thumbnail {
  display: block;
  width: 300px;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.post .post-info {
  margin: 24px;
}
.post-info a {
  color: #000;
}
.post-info a:hover {
  color: #b5b9bd;
}

.post h3 {
  font-size: 18px;
  line-height: 1.6;
  font-weight: normal;
}

.post .date {
  position: absolute;
  left: 24px;
  bottom: 10px;
  font-size: 13px;
  color: #b5b9bd;
}
/* layout.css */

.header {
  width: 100%;
  background: rgba(0,0,0,.3);
  height: 50px;
  position: relative;
  z-index: 100;
}

.header .nav {
  margin: 0;
  padding: 0;
  float: left;
  margin-top: 12px;
}

.header .nav li {
  list-style: none;
  float: left;
  margin-right: 7px;
}

.header .nav li a {
  color: #fff;
  font-size: 13px;
  padding: 8px 5px;
  border: 1px solid transparent;
  border-radius: 5px;
}
.header .nav li a:hover {
  border: 1px solid rgba(255,255,255,.2);;
}

.header .nav li.current a {
  background: rgba(255,255,255,.2);
  border: 1px solid transparent;
}

.header .logo {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  /* 居中 */
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 10px;

  /* 字体居中 */
  color: #fff;
  font-size: 35px;
  line-height: 60px;
  text-align: center;

  /* 颜色样式 */
  background: #00c4cc;
  box-shadow: 0 5px 5px rgba(0,0,0,.1);

  /* transition 效果 */
  transition: top .2s ease-out, box-shadow .2s ease-out;;
}

.header .logo:hover {
  top: 18px;
  box-shadow: 0 3px 3px rgba(0,0,0,.1);
}

/* blog.css */

.blog-wrapper {
  width: 660px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 30px;
}

.blog-banner {
  background: url(images/blog-banner.jpg);
  height: 800px;
  background-size: cover;
  margin-top: -50px;
}
.post-title {
  font-weight: normal;
  color: #eb3170;
  text-align: center;
  margin: 10px 0;
}

.post-img {
  max-width: 100%;
  display: block;
  margin: 30px auto;
}
