/* common.css */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font: 15px/1.7 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
  color: #555;
}

img {
  border: none;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}






.header {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background: #00b0b8;
  height: 50px;
}



/* blog.css */

.blog-wrapper {
  width: 660px;
  margin: 30px auto;
  padding: 30px;
}

.post-title {
  font-weight: normal;
  color: #eb3170;
  text-align: center;
  margin: 10px 0;
}

.post-img {
  max-width: 100%;
  display: block;
  margin: 30px auto;
}
