/* common.css */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font: 15px/1.7 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
  color: #555;
}

img {
  border: none;
}

a {
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}




/* layout.css */

.header {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background: #00b0b8;
  height: 50px;
}

.header .logo {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  /* 居中 */
  position: fixed;
  left: 50%;
  margin-left: -30px;
  top: 10px;

  /* 字体居中 */
  color: #fff;
  font-size: 35px;
  line-height: 60px;
  text-align: center;

  /* 颜色样式 */
  background: #00c4cc;
  box-shadow: 0 5px 5px rgba(0,0,0,.1);
}



/* blog.css */

.blog-wrapper {
  width: 660px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 30px;
}

.post-title {
  font-weight: normal;
  color: #eb3170;
  text-align: center;
  margin: 10px 0;
}

.post-img {
  max-width: 100%;
  display: block;
  margin: 30px auto;
}
